
<div class="container mt-5">
  <table class="table table-bordered table-striped">
    <thead>
      <th>Item</th>
      <th>Sell Price</th>
      <th>Vol</th>
      <th>Recipe</th>
      <th>Ingredients Cost</th>
      <th>Profit</th>
      <th>Margin (%)</th>
    </thead>
  
    <tbody>
    @for (item of itemsWithPrice$ | async; track $index) {
        <tr>
        <td>{{item.name}}</td>
        <td>{{item.price | currency}}</td>
        <td class="text-center">{{item.fourteen_day_volume}}</td>
        <td>
          @if(item.recipes) {
            @for (recipe of item.recipes; track $index) {
              @if ($index === 0) {
                @for (ingredient of recipe.ingredients; track $index) {
                  {{ingredient.name}}*{{ingredient.amount}}
                }
              }
            }
          }
         
        </td>
        <td>
          @for (recipe of item.recipes; track $index) {
            {{recipe.ingredients_total_price | currency}}
          }
        </td>
        <td>
          @for (recipe of item.recipes; track $index) {
            {{recipe.profit | currency}}
          }
        </td>
        <td>
          @for (recipe of item.recipes; track $index) {
            {{recipe.margin | number}}
          }
        </td>
      </tr>
    }

  </tbody>
  </table>
</div>
